@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Fraunces:wght@700;900&display=swap');
*{
    font-size: 62.5%; /* Ajuste de letra para utilizar el rem para el tamaño de letra */
    margin:0;
    padding: 0;
    --black: #0a0c1b;
    --blue: #1c1938;
    --purple: #af62e2;
}

body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

/**************************************/
/*************** HEADER ***************/
/**************************************/
header {
    height: 15%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    background-color: #b60124;

}

header .Principal-logo1{
    height: 90%;
    width: 25%;
    display: flex;
    align-items: center;

}

header .Principal-logo1 .logoprincipal{
    width: auto;
    height: 100%;
}

header .Principal-logo1 .logoprincipal-text{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 1.9rem;
    margin-left: 5%;
    color: #ffffff;
}

header .Principal-logo2{
    justify-self: center;
    height: 70%;
    
}

header .Principal-logo2 img{
    height: 100%;
    width: auto;
    
}

header .Principal-menu{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

header .Principal-menu a{
    font-family: 'Fraunces', serif;
    font-size: 1.6rem;
    font-weight: 100;
    color: #ffffff;
    text-decoration: none;
}

header .Principal-menu-hamburguer{
    height: 50%;
    width: auto;
    display: none;
    
}



/**************************************/
/**************** MAIN ****************/
/**************************************/
.boards-container{
    height: 70%;
    box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
}

.boards-container .board1{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.boards-container .board1 .boardproduct-option{
    width: 80%;
    height: 20%;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, #0a2b5b, #0a2b5b, #f00003);
    display: flex;
    align-items: center;
}

.boards-container .board1 .boardproduct-option h3{
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 10%;
}


.boards-container .board2{
    border-left: 2px solid #022b5c;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1%;
    box-sizing: border-box;
    
}

.boards-container .board2 .boardstore-text{
    width: 100%;
    font-family: 'Fraunces', serif;
    font-size: 1.6rem;
    color: gray;
}

.boards-container .board2 .boardstore-text strong{
    font-family: 'Fraunces', serif;
    font-size: 1.6rem;
    text-decoration: underline;
    color: #484848;
}

.boards-container .board2 .boardstore-product{
    border-radius: 10px;
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 0px 19px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 19px -6px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 19px -6px rgba(0,0,0,0.59);
}

.boards-container .board2 .boardstore-product:hover{
    -webkit-box-shadow: 0px 0px 25px -6px rgba(182,1,36,1);
    -moz-box-shadow: 0px 0px 25px -6px rgba(182,1,36,1);
    box-shadow: 0px 0px 25px -6px rgba(182,1,36,1);
}

.boards-container .board2 .boardstore-product img{
    width: 100%;
    border-radius: 10px;
}

.boards-container .board2 .boardstore-product .Product__cop{
    margin-top: 20%;
}

.boards-container .board2 .boardstore-product p{
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    color: #022b5c ;
}


.boards-container .board2 .boardstore-product h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #b60124;
}
/**************************************/
/*************** FOOTER ***************/
/**************************************/
footer{
    height: 15%;
    box-sizing: border-box;
    background-color: #022b5c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

footer .footer-left{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

footer .footer-center{
    width: 25%;
    text-align: center;
    align-self: flex-end;
}

footer .footer-center h3{
    font-family: 'Fraunces', serif;
    font-size: 1.3rem;
    color: #ffffff ;
}

footer .footer-right{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}